@using AlphaDev.Web.Extensions
@model AlphaDev.Web.Support.Pager<AlphaDev.Web.Models.BlogViewModel>

@{
    ViewBag.Title = "Posts";
}

<h1 class="text-center">Posts</h1>

<div class="blog container">
    @foreach (var blog in Model)
    {
        @await Component.InvokeAsync("BlogPreview", new { blogViewModel = blog })
    }

    <div class="pages">
        Page:
        @foreach (var pageNumber in Model.PreviousPages)
        {
            <a asp-controller="Posts" asp-action="Page" asp-route-page="@pageNumber" class="page">@pageNumber</a>
        }
        <span class="page activePage">@Model.CurrentPage.Value</span>
        @foreach (var pageNumber in Model.NextPages)
        {
            <a asp-controller="Posts" asp-action="Page" asp-route-page="@pageNumber" class="page">@pageNumber</a>
        }
        @Html.ActionLink(Model.AuxiliaryPage, "...", "Page", "Posts", x => new { page = x }, new { @class = "page" })
    </div>
</div>